body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }
.width-half{background-image: url(Image/cover2.jpg);
    color: #ffffff;
     height: 620px;
     margin-left: 0cm;
     }
.text-padding{
    padding-top:180px;
    padding-left: 80px;
}
.width-half img{
    padding-top: 30px;
    padding-left: 20px;
    }

   
.name{font-size: 45px;
    text-transform: uppercase;
    }
.cv{background-color: white;
    color: black;
    font-size: 18px;
    padding: 7px 8px;
    width: 130px;
    border-radius: 10px;
    text-decoration: none;
}
.me{background-color: white;
    color: black;
    font-size: 18px;
    padding: 7px 20px;
    width: 130px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 20px;

}
.firsr-flex{
    display: flex;
        
        
}
.width-half{
    width: 50%;
    }
.width-half img{
     height: 6in;
}
.about{
    -webkit-text-stroke: 1px #dee2e6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(222, 226, 230);
    padding-left: 40%;
    font-weight: 1000;
    font-size: 60px;

} 
.second-flex{
                display:flex;
                
                
} 
.half-width{
    width: 50%;
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 80px;
    padding: 30px 60px;
    box-shadow: 5px 12px 25px #4781fdf6;
      
    
}
.me-about{
    -webkit-text-stroke: 1px #dee2e6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(222, 226, 230);
    padding-left: 40%;
    font-weight: 1000;
    font-size: 60px;
}
.third-flex img{
                    height: 400px;
                    width: 446px;
                    margin-left: 140px;
                    margin-top: 25px;
                    

}
.flex-third{
                display: flex;
}
.third-flex{
                width: 50%;
                margin-left: 10px;
                margin-bottom: 10px;
                padding-bottom: 30px;
}
.omarbinosman{color: gray;
              margin-bottom: 2px;
}
.space{padding-bottom: 8px;}
.hossen{
        display: flex;
        }
.faruq{width: 50%;
        padding-bottom: 10px;
        margin-bottom: 5px;
}



    
